
@{
    ViewBag.Title = "Admin";
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="mainbar">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Authors")">Authors editor</a> <span class="divider">/</span></li>
                <li><a href="@Url.Action("Index","Books")">Books editor</a> <span class="divider">/</span></li>
                <li><a href="@Url.Action("Index","Categories")">Categoris editor</a> <span class="divider">/</span></li>

            </ul>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>